@import '~antd/dist/antd.css';

* {
  font-family: 'Maven Pro', monospace;
}

.App {
  background: #f7fbfd;
}

.App-header {
  text-align: center;
  background-color: #1d253a;
  height: 200px;
  padding: 30px;
  color: white;
}

.search-bar {
  padding-top: 20px;
}

.App-intro {
  font-size: large;
}

.content {
  padding: 0 50px;
  background: #f7fbfd;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.header-text {
  color: white;
}

.word-card {
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(36,37,38,0.08);
  margin-top: 25px;
  width: 800px;
}

.search {
  width: 800px;
  height: 60px;
}

.footer {
  text-align: center;
  background: #f7fbfd;
}

blockquote {
  color: #697b8c;
  border-left: 4px solid #ebedf0;
  padding-left: 0.8em;
  margin: 1em 0;
}